@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/League_Gothic-webfont.woff') format('woff'),
          url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
          url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    opacity:0;
}

#title {
    text-align: center;
    margin-top: -50px;
}
#title p {
    font-size: 80px;
    color: #333;
    text-shadow: 3px 3px 0 #BABABA;
    line-height: 80px;
    font-weight: bold;
}
.company, .author {
    font-size: 24px;
    color: #444;
}
.company {
    float: left;
    padding-left: 100px;
}
.author {
    float: right;
    padding-right: 90px;
}

.huge {
    font-family: LeagueGothicRegular, sans-serif;
    font-size: 200px;
    text-align: center;
    text-shadow: 3px 3px 0 #BABABA;
    color: #333;
}

.big {
    font-family: LeagueGothicRegular, sans-serif;
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 3px 0 #BABABA;
    color: #333;
}

.small {
    font-family: LeagueGothicRegular, sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 0 #BABABA;
    color: #333;
}
